language: python

python:
 - 2.7
 - 3.5

env:
  - TOXENV=django18
  - TOXENV=django19
  - TOXENV=django110

sudo: false

branches:
  only:
  - master

install:
- pip install -r requirements/tox_requirements.txt

script:
- tox

after_success:
- codecov
